.container.contact {
    padding: 4%;
    height: 400px;

    .header-form {
        background: #ff9b00;
        padding: 4%;
        border-top-left-radius: 0.5rem;
        border-bottom-left-radius: 0.5rem;
    }

    .contact-info {
        margin-top: 10%;
        background: #737373;
        padding: 1rem;

        img {
            margin-bottom: 15%;
        }

        h2 {
            margin-bottom: 10%;
        }
    }

    .body-form {
        background: #fff;
        padding: 3%;
        border-top-right-radius: 0.5rem;
        border-bottom-right-radius: 0.5rem;
    }

    .contact-form {
        label {
            font-weight: 600;
        }

        button {
            background: #25274d;
            color: #fff;
            font-weight: 600;
            width: 25%;
        }

        button:focus {
            box-shadow: none;
        }
    }
    button[type=submit] {
        @media screen and (max-width: 500px) {
            width: 100%;
        }
    }
}